name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        modules: 'qtcharts qtscript qtwebengine'

    - uses: actions/checkout@v2
    - name: qmake
      run: qmake -makefile -Wall -before
    - name: make
      run: make
   - users: actions/upload-artifact@v2
     with:
     name: CaptureStream
     path: ./

